.sidebar{
  margin-top: 30px;
  text-align: center;
  background-color: #CFCFCF;
  border-radius: 30px;
  float: right;
	display: flex;
	flex-direction: column;
  align-items: center;
	@media (min-width: 1440px){
  	width: 350px;
  	height:400px;
	}
	@media (min-width: 720px) and (max-width: 1439px){
		width: 30%;
    height: 360px;
	}
	@media (min-width: 360px) and (max-width: 719px){
		width: 30%;
	}
}
.sidebar-cont{
	height: auto;
	text-align: center;
	margin: auto;
	@media (min-width: 360px) and (max-width: 1439px){
		width: 95%;
	}
}
.sidebar-text{
  margin: auto;
	@media (min-width: 1440px){
  	margin-top: 30px;
		width: 300px;
	}
  @media (min-width: 360px) and (max-width: 1439px){
		margin-top: 20px;
    width: auto;
	}
}
.donation{
  border-radius: 40px;
  width:200px;
  height: 60px;
	@media (min-width: 720px){
  	width:200px;
  	height: 60px;
	}
	@media (min-width: 360px) and (max-width: 719px){
		width:70%;
    height: 40px;
    font-size: 14px;
	}
}