@media (min-width: 1440px){
    .authorization{
        margin: auto;
        height: 500px;
        width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #EEE;

    }
    .authorization p{
        width: 400px;
    }
    .authorization button{
        width: 180px;
        height: 40px;
    }
    .authorization input{
        border-radius: 10px;
        width: 400px;
        height: 30px;
    }
    .authorization h3{
        margin-left: 130px;
        height: 20px;
    }
    .sign-up{
        margin-bottom: 20px;
    }
    .auth-title{
        width: 700px;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 720px) and (max-width: 1439px){
    .authorization{
        margin: auto;
        height: 500px;
        width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #EEE;

    }
    .authorization p{
        width: 400px;
    }
    .authorization button{
        width: 180px;
        height: 40px;
    }
    .authorization input{
        border-radius: 10px;
        width: 400px;
        height: 30px;
    }
    .authorization h3{
        margin-left: 130px;
        height: 20px;
    }
    .sign-up{
        margin-bottom: 20px;
    }
    .auth-title{
        width: 700px;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 360px) and (max-width: 719px){
    .authorization{
        margin: auto;
        height: 500px;
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #EEE;

    }
    .authorization p{
        width: 180px;
    }
    .authorization button{
        width: 140px;
        height: 40px;
    }
    .authorization input{
        border-radius: 10px;
        width: 180px;
        height: 30px;
    }
    .authorization h3{
        margin-left: 10px;
        height: 20px;
    }
    .sign-up{
        margin-bottom: 20px;
    }
    .auth-title{
        width: 360px;
        display: flex;
        align-items: center;
    }
}