button:hover{
  transition: 0.3s;
  opacity: 1;
  cursor: grab;
  background-color: #AAAAAA;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  cursor: grab;
  color: coral;
}
button{
  font-family: Algerian;
  font-size: 28px;
  border-radius: 20px;
  opacity: 70%;
  background-color: #EEEEEE;
}
.disabled{
  display: none;
}
@media (min-width: 1440px){
  body {
    background-color: #EAEAEA;
    margin: auto;
    font-family: Algerian,"Bodoni MT Condensed";
    width: 1440px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 28px;
  }
  h4{
    font-size: 24px;
  }
  p{
    font-family: Centaur;
    font-size: 20px;
  }
}
@media (min-width: 720px) and (max-width: 1439px){
  body {
    background-color: #EAEAEA;
    margin: auto;
    font-family: Algerian,"Bodoni MT Condensed";
    width: 100%;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 26px;
  }
  h4{
    font-size: 20px;
  }
  p{
    font-family: Centaur;
    font-size: 18px;
  }
}

@media (min-width: 360px) and (max-width: 719px){
  body {
    background-color: #EAEAEA;
    margin: auto;
    font-family: Algerian,"Bodoni MT Condensed";
    width: 100%;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 20px;
  }
  h4{
    font-size: 18px;
  }
  p{
    font-family: Centaur;
    font-size: 14px;
  }

}





